/* Base tags */

:root {
    --second-family: "Raleway", sans-serif;
    --navy-blue: #2e2f42;
    --iris: #4d5ae5;
    --cornflower: #e7e9fc;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
h1 {
    line-height: 1.07
}

h2 {
    font-size: 36px;
    text-align: center;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
}
img{
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex-header-element {
    display: flex;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.logo-decor {
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
    color: var(--iris);
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 76px
}
.logo-span{
    font-family: var(--second-family);
    color: #f4f4fd;
    font-size: 18px;
}
.color-change {
    color: var(--navy-blue);
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-li-underline{
    position: relative;
}
.nav::after{
        content: '';
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        bottom: -1px;
        left: 0;
}
.nav-text{
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav {
    color: #404bbf;
}
/* .nav-text:hover,
.nav-text::after{
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    top: 20px;
} */
.nav:hover,
.nav.nav:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.header-address {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.address-text {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover,
.address-text:focus {
    color: #404bbf;
}
.first-section {
    background-color: var(--navy-blue);
    color: white;
    text-align: center;
    padding: 188px 0;
}
.hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-position: center;
}
.first-section h1 {
    font-weight: 700;
    font-size: 56px;
}
.first-section-header{
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}
.first-section-button {
    display: block;
    min-width: 169px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    background-color: var(--iris);
    color: white;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section-button:hover,
.first-section-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.about-section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-list {
    display: flex;
    gap: 24px;
    /* padding-bottom: 120px;
    padding-top: 120px; */
}
.about-list-calc{
    width: calc((100% - 72px) / 4);
}
/* TEST */
.strategy-test-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}
/* TEST */
.strategy-header {
    color: var(--navy-blue);
    margin-bottom: 8px;

}
.strategy-paragraph {
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-header-second {
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-img {
    width: 264px;
    height: 260px;
}
.team-li {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}
.team-li:first-child{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.team-info {
    padding: 32px 0;
}
.team-header {
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.team-paragraph {
    margin-bottom: 8px;
    text-align: center;
    color: #434455;
}
.team-link-block{
    display: flex;
    margin-top: 8px;
    justify-content: space-evenly;
}
.team-ul-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-li-links{
    width: 40px;
    height: 40px;
}

.team-link-icon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-link-icon{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icon:hover,
.team-link-icon:focus{
    background-color: #404bbf;
}
.icon-svg{
    fill: #F4F4FD;
}
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-header {
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
li p {
    font-size: 16px;
    color: var(--slate);
    line-height: 1.5;
}

.upper-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.portfolio-p {
    color: #434455;
}
.portfolio-list {
   display: flex;
   row-gap: 48px;
   column-gap: 24px;
   flex-wrap: wrap;
}
.portfolio-info{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-info:hover .cover-text{
    transform: translate(0);
}
.portfolio-cover-box{
    position: relative;
    overflow: hidden;
}
.cover-text {
    background-color: var(--iris);
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-border {
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    padding: 32px 16px;
}
/* .team-list {

} */

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer-content{
    display: flex;
    align-items: baseline;
}
.footer-content-block{
    margin-right: 120px;
}
/* .footer-contant {
    width: 264px;
} */
.footer-social-block {
    margin-right: 80px;
}
footer .logo-decor {
    color: #f4f4fd;
    font-weight: 700;
    line-height: 1.17;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-p {
    color: #f4f4fd;
    line-height: 1.5;
    max-width: 264px
}
.footer-links{
    display: flex;
    gap: 16px;
}
.footer-text{
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.footer-icon{
    fill: #f4f4fd;
}
/* .footer-container{
    display: flex;
    gap: 120px;
} */
/* .footer-link-block{
    margin-top: 16px;
    gap: 16px;
} */
 .footer-li-links {
    width: 40px;
    height: 40px;
 }
.footer-link-icon{
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus{
    background-color: #31d0aa;
}
/* .button{
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
} */
.footer-subscribe-main-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    /* display: inline-block; */
}
.footer-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.footer-input::placeholder{
    color: #fff;
}
.footer-button{
   
}
.footer-subscribe-form{
    margin-right: 24px;
}
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-subscribe-button{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border: 0;
    background-color: #4d5ae5;
    color: #fff;
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.footer-subscribe-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

/* ---------BACKDROP--------- */
.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.modal{
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-close{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
}
.backdrop-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
}
.modal-input:focus {
    border-color: var(--iris);
}
.modal-input:focus + .modal-input-icon {
    fill: var(--iris);
}
.modal-field{
    margin-bottom: 8px;
}
.modal-form-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: inline-block;
}
.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
}
/* .modal-textarea:focus {
    border-color: var(--iris);
} */
.modal-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.modal-send-button{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
}
.modal-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-input-cover{
    position: relative;
}